.bg-logo {
    background-color: #f3e9f1;
}

.carousel-item {
    height: 50%;
}

td {
    text-align: justify
}

#list, #detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#list .card {
    margin: 2%;
}

.errorForm {
    display: none;
}


@media screen and (max-width: 750px) {
    #list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #list .card {
        width: 250px !important;;
    }
}

