.bg-logo {
    background-color: #f3e9f1;
}

.carousel-item {
    height: 50%;
}

td {
    text-align: justify
}

#list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#list .card {
    margin: 2%;
}

@media screen {
    
}

